.portfolio {
    height: 550px;
    margin-top: 80px;
    padding-top: 20px;
    background-color: #E9C2A6;
}

.projects {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 20px;
}
span {
    width: 30%;
    height: 350px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
}
span img {
    width: 95%;
    height: 75%;
    margin-top: 8px;
}
span p {
    margin: 0%;
}