@media screen and (max-width: 782px) {
  .gallery {
    flex-direction: column;
    align-items: center;
    background: none;
    gap: 30px;
    margin: 0%;
  }

  .card-container {
    width: 90%;
    height: 65vw;
    margin: 0%;
  }
}
